.imagebanner {
	width: 100%;
	height: 20rem;
}
.banner {
	position: relative;
	height: 20rem;
	background-image: url("../images/bannerc.png");
	object-fit: fill;
	background-position: center;
	top: 0;
}
.image {
	width: 100%;
	height: 20rem;
}
.shadow {
	background: linear-gradient(
		180deg,
		rgba(200, 231, 255, 0.33) -25.68%,
		rgba(0, 19, 34, 0.53) 100%
	);
	position: relative;
	top: -100%;
	height: 20rem;
	width: 100%;
}

.info {
	position: relative;
	top: -200%;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	height: 20rem;
}
.name {
	color: white;
	font-weight: 500;
	font-size: 28px;
}
.dp {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.followBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	justify-content: center;
}
.followbtn {
	color: white;
	border-radius: 20px;
	border: 2px solid white;
	padding-inline: 2rem;
	font-size: 16px;
	padding-inline: 9px;
}
.following {
	color: white;
	padding-inline: 9px;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 767px) {
	.imagebanner {
		height: 15rem;
	}
	.banner {
		height: 15rem;
	}
	.image {
		height: 15rem;
	}
	.info {
		top: -200%;
		height: 15rem;
	}
	.shadow {
		top: -100%;
		height: 15rem;
	}
	.dp {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
}
