.container {
	width: 23vw;
}
.container li {
	list-style: none;
	margin-bottom: 1rem;
}
.container li a {
	color: #000000;
	text-decoration: none;
}
.icon {
	width: 15px;
	height: 15px;
}
@media (max-width: 600px) {
	.container {
		width: 100%;
	}
}
