.link a {
  text-decoration: none !important;
  color: #747474;
  text-align: center;
}
.menuText_active{
  color:#1675e0 !important;
  text-align: center;
  border-bottom: 4px solid #1675e0 !important;
}
